USE [master]
GO
/****** Object:  Database [RockPaperScissors]    Script Date: 21/11/2016 10:41:56 a.m. ******/
CREATE DATABASE [RockPaperScissors]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RockPaperScissors', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\RockPaperScissors.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RockPaperScissors_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\RockPaperScissors_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RockPaperScissors].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RockPaperScissors]
GO
USE [RockPaperScissors]
GO
/****** Object:  Table [dbo].[Champion]    Script Date: 21/11/2016 10:41:56 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Champion](
	[Name] [varchar](50) NOT NULL,
	[Score] [int] NOT NULL,
 CONSTRAINT [PK_Champion_1] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
