<div class="jumbotron">
    <h1>Rock-Paper-Scissors API</h1>
    <p class="lead">Here you can find the Web API necessary for Rock-Paper-Scissors game.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>The Game</h2>
        <p>You can check the game here: </p>
        <p><a class="btn btn-default" href="http://rockpaperscissors.somee.com">Play &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Api Documentation</h2>
        <p>Check the API documentacion here:</p>
        <p><a class="btn btn-default" href="/Help">API Documentation &raquo;</a></p>
    </div>
</div>
