@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Description</p>
<p>@ViewBag.Solution</p>
<p>@ViewBag.Me</p>

<div class="row">
    <div class="col-md-4">
        <h2>Restfull Services</h2>
        <p>
            Found information about the Web Services implemented on this project.
        </p>
        <p><a class="btn btn-primary" href="http://rockpaperscissors.somee.com/api/">Web API</a></p>
    </div>
    <div class="col-md-4">
        <h2>Restfull Services Docs</h2>
        <p>Read the Web Services documentation on the Help Page. </p>
        <p><a class="btn btn-primary" href="http://rockpaperscissors.somee.com/api/Help">Web API Docs</a></p>
    </div>
    <div class="col-md-4">
        <h2>Repository</h2>
        <p>Discover the developer's Github repository and clone the entire solution.</p>
        <p><a class="btn btn-primary" href="https://github.com/marielitos/RockPaperScissors.git">Github</a></p>
    </div>
</div>