@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6 col-lg-4">
        <h2>Instructions</h2>
        <ul>
            <li>A file can only contain 1 championship.</li>
            <li>Use only alphanumerical digits for name.</li>
            <li>Rock = R, Paper = P and Scissors = S.</li>
            <li>How can i play? Click on Play -> Select a new .txt file -> Click on Upload File -> Wait to see the winners</li>
            <li>How see the top players? Click on Top Players</li>
            <li>How delete the top scores/How clean database? Click on Top Players -> Clean up the scores and start.</li>
            <li>How can i learn about his project? Click on About</li>
        </ul>
    </div>
    <div class="col-md-6 col-lg-8 text-center">
        <h2>Examples</h2>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="file">
                    <img src="~/Images/text-file.png"/>
                </div>
                <p>
                    <a class="btn btn-primary" href="~/Examples/AlonePlayer.txt" target="_self" download="AlonePlayer.txt">Invalid: Alone player</a>
                </p>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="file">
                    <img src="~/Images/text-file.png" />
                </div>
                <p>
                    <a class="btn btn-primary" href="~/Examples/InvalidMovement.txt" target="_self" download="InvalidMovement.txt">Invalid: Movement</a>
                </p>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="file">
                    <img src="~/Images/text-file.png" />
                </div>
                <p>
                    <a class="btn btn-primary" href="~/Examples/DaveAllen.txt" target="_self" download="DaveAllen.txt">1st: Dave, 2nd: Allen</a>
                </p>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="file">
                    <img src="~/Images/text-file.png" />
                </div>
                <p>
                    <a class="btn btn-primary" href="~/Examples/RichardAllen.txt" target="_self" download="RichardAllen.txt">1st: Richard, 2nd: Allen</a>
                </p>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="file">
                    <img src="~/Images/text-file.png" />
                </div>
                <p>
                    <a class="btn btn-primary" href="~/Examples/CamilaDave.txt" target="_self" download="CamilaDave.txt">1st: Camila, 2nd: Dave</a>
                </p>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="file">
                    <img src="~/Images/text-file.png" />
                </div>
                <p>
                    <a class="btn btn-primary" href="~/Examples/OmerCamila.txt" target="_self" download="OmerCamila.txt">1st: Omer, 2nd: Camila</a>
                </p>
            </div>
        </div>
    </div>
</div>